@media only screen and (max-width: 770px) {
  .hide-me-small {
      display: none;
  }
}
@media only screen and (min-width: 770px) {
  .show-me-small {
      display: none;
  }
}
.landing-page .section-news .news .news-item img {
  height: 200px;
  width: 100%; 
}

.landing-page .section-news .news .news-item {
  padding: 5px;
  margin: 5px 0;
}

.landing-page .section-project .project .project-item img {
  height: 200px;
  width: 100%; 
}

.landing-page .section-project .project .project-item {
  padding: 5px;
}

.section .button {
  width: 240px
}

.landing-page .section-event .event .event-item {
  height: 200px;
}

.landing-page .section-event .event .event-item {
  padding: 5px;
}

.section .button {
  width: 240px
}

.full-heigh {
  min-height: 80vh
}

.content-p {
  color: #000!important;
  font-size: 17px;
  line-height: 26px;
  font-family: Roboto;
  text-align: justify;
  color: #3c414e;
  -webkit-transition: font-size .2s ease-in-out;
  transition: font-size .2s ease-in-out;
}

.content-img {
  max-width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
}
.block-index-upcoming-item {
  margin: 15px 0px 15px 0px;
  padding: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 237px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.block-index-upcoming-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 -15px;
  padding: 15px;
  position: relative;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.65) 100%);
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  color: #ffffff;
}

.block-index-upcoming-footer {
  background: #000;
  margin: 0 -15px -15px;
  padding: 8px 15px;
  height: 36px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.block-index-upcoming-city {
  float: left;
  color: #A4A4A4;
  font-weight: 500;
}

.block-index-upcoming-month {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  padding: 0 10px;
}

.block-index-upcoming-day {
  padding: 0 10px;
}

.block-index-upcoming-date {
    color: #adadad;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background: rgba(0,0,0,0.6);
    padding: 6px 0;
    border-radius: 3px;
    width: 50px;
}

.navbar-img {
  height: 70%;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor: pointer;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}